.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tester{
  color: red
}

.textareatitle {  
  font-weight: bold;
  font-size: 24px;
  color: #ff4500; /* Eye-catching orange color */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adds a subtle shadow effect */
}

.textboxdata {
  font-family: Arial, sans-serif; /* Specify a font-family */
  font-size: 16px; /* Set a font size */
  color: #333; /* Set a color for the text */
  background-color: #f9f9f9; /* Set a background color for the textarea */
  border: 1px solid #ccc; /* Add a border */
  padding: 8px; /* Add some padding */
  border-radius: 4px; /* Add border-radius for rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a box shadow for depth */
}

